.em-template {
  /* specific to email2 and 6*/
  /* max-width: 700px; */
  margin: 0 auto;
}
.em-template h1,
.em-template h2,
.em-template h4 {
  font-family: Arial, Helvetica, sans-serif;
} 
.body {
  border: 1px solid lightgray;
}
.em-from-div {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-areas:
    "dot from"
    "dot date"
    "to to";
}
.em-dot {
  grid-area: dot;
  background-color: #fd6823;
}
.em-from {
  grid-area: from;
}
.em-date {
  grid-area: date;
}
.em-to {
  grid-area: to;
}
.em-br {
  display: none;
}
@media screen and (max-width: 600px) {
  .em-br {
    display: block;
  }
}
/* dot with initials / re / to / from */
.em-dot span {
  position: relative;
  top: 8px;
  left: 12px;/*to center initials in dot*/
}

.tooltip-content {
  height: 87px;
}
  /* Tooltip button*/
  /* specific to email6 */
.tooltip-button {
  padding: 10px 0 0px;
  height: 25px;
  background-color: #5E8ADE;
  font-weight: 600;
}
   
  /* specific to email6*/
  .dropbox img{
    width: 5%;
    float: none;
    margin: 1em auto;
    display: block;
}
