.em-template {
  /* email4 specific */
  max-width: 700px;
    margin: 0 auto;
    font-size: .7em;
}
  /* Tooltip button*/
    /* email4 specific */
    .tooltip-button {
    padding: 10px 0;
    background-color: rgb(2, 171, 41);
    font-size: large;
}
    
        /* dot with initials / re / to / from */
        .em-dot {
          background-color: #023890;
        }
        .em-dot p {
            margin: 8px 4px;/*to center initials in dot*/
            font-size: large;
            color: white;
        }
        .em-from-div h4 {
      /* email4 specific */
          max-width: 500px;
        }
  
       .body {
      /* email4 specific */
          border: 2px solid rgb(61, 112, 232);
          max-width: 500px;
          margin: 0 100px;
      }
        /* specific to email4 */
  .em-template h1 {
    background: rgb(61, 112, 232);
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    color: white;
  }

      .tjx-synchrony {
          display: inline-block;
      }
      .tjx-synchrony img {
          width: 40%;
          padding: 0px 20px;
      }
      .googlemap {
          margin: 0 20px;
          height: 300px;
   }
      .googlemap img {
          width: 100%;
      }
  