.em-template {
    margin: 30px auto;
    width: 78%;
    background: none;  }
  
    /* Tooltip button*/
.section__answer h1 {
    display: grid;
    justify-content: center;
    font-size: 2em;
    margin-top: 53px;
}  
    .webpage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "img img2";
        grid-column-gap: 20px;
        margin-top: 75px;
        margin-bottom: 78px;
    }
    .web1,
    .web2{
        -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
        transition: opacity 0.4s, transform 0.4s;
        -webkit-transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
        transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
    }
    .web1 {
        grid-area: img;
        position: relative;
        z-index: 1;
    }
    .web1:hover {
        transform: scale(2.5);
        z-index: 2;
          }
    .web2 {
        grid-area: img2;
        position: relative;
        z-index: 1;
    }
    .web2:hover {
        transform: scale(2.5);
        z-index: 2;
          }

.fone {
    width: 100%;
}
    footer {
        position: relative;
    }