.em-template {
  font-size: inherit;
}

  /* Tooltip button*/
/* specific to email7 */
.tooltip-button {
  padding: 10px 0 10px;
  background-color: #5B90F6;
    border: none;
    margin: 0;
    font-weight: bold;
  grid: button;
}


      /* dot with initials / re / to / from */
      .em-dot {
        background-color: #38c7f7;
      }
      .em-dot p {
          margin: 8px 4px;/*to center initials in dot*/
          font-size: large;
      }

  /* specific to email7 */
  .hangouts img{
      width: 100%;
    float: none;
    margin: 0 auto;
}
.person-icon {
    grid-area: icon;
    margin-left: 5em;
}
.person-icon img {
    margin: 2em;
}
.body {
    border: 5px solid rgb(61, 112, 232);
    text-align: center;
  }
  .conversation {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 
      "icon textA textA"
      "icon text text"
      "icon button buttonA";
      background-color: rgb(238, 238, 238);
  }
  .conversation p {
      grid-area: text;
  }
