.em-template {
  display: block;
  margin: 10px auto 75px;
  height: 325px;
  width: 80%;
  background: none;
  }
  
    /* Tooltip button*/
  /* specific to email7 */
  .tooltip-button {
    padding: 10px 0 10px;
    background-color: #5B90F6;
      border: none;
      margin: 0;
      font-weight: bold;
    grid: button;
  }
  
  
        /* dot with initials / re / to / from */
        .em-dot {
          background-color: #38c7f7;
        }
        .em-dot span {
          position: relative;
          top: 9px;
          left: 5px;/*to center initials in dot*/
        }
        h4.em-date {
          display: block;
          margin: -15px 80px 0px;
         }
      
    /* specific to email7 */
    .hangouts img{
        width: 100%;
      float: none;
      margin: 0 auto;
  }
  .person-icon {
      grid-area: icon;
      margin-left: 5em;
  }
  .person-icon img {
      margin: 2em;
  }
  .body {
      border: 5px solid rgb(61, 112, 232);
      text-align: center;
    }
.fone {
    display: grid;
    margin: 0 auto;
    /* width: 50%; */
    height: 365px;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, transform 0.4s;
    -webkit-transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
    transition-timing-function: ease, cubic-bezier(0.6,0,0.4,1);
}
.fone:hover {
  transform: scale(1.5);
  position: relative;
  z-index: 1;
}
    footer {
        position: relative;
        padding: 0px 30px;
    }