.em-template {
  /* specific to email1 */
    border: 1px solid lightgray;
  }
  
    /* Tooltip button*/
  .tooltip-button {
  /* email1 specific */
    width: 300px;
    padding: 15px 0 0px;
    height: 35px;
    background-color: teal;
    font-size: large;
    border: none;
    border-radius: 10px;
  }
  
      /* dot with initials / re / to / from */
      .em-dot {
        background-color: #E00054;
      }
      .em-dot p {
          margin: 8px 6px;/*to center initials in dot*/
          font-size: large;
      }
    
      /* specific to email1 */
  .body {
    max-width: 800px;
    background: #ececec;
    margin: 0 auto;
    padding: 2em 0;
  }  
  h4.em-dot-date {
    display: block;
    margin: -15px 80px 0px;
   }
   