.em-template {
  /* specific to email1 */
    border: 1px solid lightgray;
    font-size: 16px;
  }
.em-template h1,
.em-template h2,
.em-template h4 {
  font-family: Arial, Helvetica, sans-serif;
}  

.em-from-div {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-areas:
    "dot from"
    "dot date"
    "to to";
}
.em-dot {
  grid-area: dot;
}
.em-from {
  grid-area: from;
}
/* .em-em {
  grid-area: em;
} */
.em-date {
  grid-area: date;
}
.em-to {
  grid-area: to;
}

    /* Tooltip button*/
  .tooltip-button {
  /* email1 specific */
    width: 300px;
    padding: 15px 0 0px;
    height: 35px;
    background-color: teal;
    font-size: 18px;
    border: none;
    border-radius: 10px;
  }
  @media  screen and (max-width: 500px) {
    .tooltip-button {
      width: 90vw;
    }
  }
  
  .tooltip-content::before {
    top: -11%;
    left: 2%;
  }
      /* dot with initials / re / to / from */
      .em-dot {
        background-color: #E00054;
      }
      .em-dot span {
        position: relative;
        top: 9px;
        left: 7px;/*to center initials in dot*/
      }
    
      /* specific to email1 */
  .body {
    max-width: 800px;
    background: #ececec;
    margin: 0 auto;
    padding: 2em 0;
  }  
  /* h4.em-date {
    display: block;
    margin: -15px 80px 0px;
   } */
   