.em-template {
  /* email5 specific */
  border: 1px solid grey;
}
  /* Tooltip button*/
    /* email4 specific */
    .tooltip-button {
    padding: 10px 0;
    background-color: rgb(2, 171, 41);
    font-size: large;
}
    
    
