.em-template {
  /* specific to email2 and 6*/
  max-width: 700px;
  margin: 0 auto;
}

  /* Tooltip button*/
  /* specific to email6 */
.tooltip-button {
  padding: 10px 0 0px;
  height: 25px;
  background-color: #5E8ADE;
  font-weight: 600;
}


      /* dot with initials / re / to / from */
      .em-dot {
        background-color: #fd6823;
        /* specific to email6 */
      }
      .em-dot p {
          margin: 8px 12px;/*to center initials in dot*/
          font-size: large;
          color: white;
      }

  /* specific to email6*/
  .dropbox img{
    width: 5%;
    float: none;
    margin: 1em auto;
    display: block;
}
.body {
    border: 1px solid lightgray;
  }
