.em-template {
    background: white;
    font-family: arial,sans-ser;
    margin: 1em auto 0;
    width: 95%;
    /* height: 600px;  */
    /*overflow-y: auto;  */
    /* overflow-x: hidden; */
}  
.em-template p,
.em-template h1,
  .em-template h2,
  .em-template h4,
  .em-template h5 {
      color: #000000;
      text-shadow: none;
      margin: 0 20px;
  }
  hr {
    color: #eee;
}


    /* Tooltip container */
    .tooltip {
        position: relative;
      }
      
.tooltip-button {
    position: relative;
    width: 200px;
    height: 20px;
    text-align: center;
    color: white;
    margin: 0 auto;
    border: 4px solid white;
}
/* Tooltip text */
.tooltip .tooltiptext,
.tooltip-button .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
  }

    /* dot with initials / re / to / from */
  .em-dot {
    /* margin-top: 10px; */
    margin-left: 20px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
  }
  /* .em-dot p {
    position: absolute;
  } */
  .em-from-div {
    display: inline-block;
    margin-top: 20px;
  }
  .em-from-div h4 {
    /* margin: 10px 0 0px 45px; */
    /* position: absolute; */
    display: inline;
  }
  iframe {
    display: block;
    margin: 0 auto;
    height: 400px;
  }
