/* .em-template {
  font-size: inherit;
  width: 900px;
} */
.em-template h1,
.em-template h2,
.em-template h4 {
  font-family: Arial, Helvetica, sans-serif;
}  
.em-from-div {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-areas:
    "dot from"
    "dot date";
    /* "to to"; */
}
.em-dot {
  grid-area: dot;
  background-color: #38c7f7;
}
.em-from {
  grid-area: from;
}
.em-date {
  grid-area: date;
}
.em-br {
  display: none;
}
@media screen and (max-width: 600px) {
  .em-br {
    display: block;
  }
  
}
/* dot with initials / re / to / from */
.em-dot span {
  position: relative;
  top: 9px;
  left: 5px;/*to center initials in dot*/
}
    

  /* Tooltip button*/
/* specific to email7 */
.tooltip-button {
  padding: 10px 0 10px;
  background-color: #5B90F6;
    border: none;
    margin: 0;
    font-weight: bold;
  grid: button;
}
  /* specific to email7 */
  .hangouts img{
      width: 95vw;
    float: none;
    margin: 0 auto;
}
.person-icon {
    grid-area: icon;
}
.person-icon img {
    margin: 2em;
}
.body {
    border: 5px solid rgb(61, 112, 232);
    text-align: center;
  }
  .conversation {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 
      "icon textA textA"
      "icon text text"
      "icon button buttonA";
      background-color: rgb(238, 238, 238);
      justify-content: center;
  }
  .conversation p {
      grid-area: text;
  }
