@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600&family=Glegoo&display=swap');

*,
html {
    margin: 0;
}
:root {
    /* font sizes */
    --fs-h1: 3em;
    --fs-h6: 1.5em;
    --fs-btn: 1.25em;

    /* colors */
    --clr-white: #fff;
    --clr-ltgrey: #cfd3d7;
    --clr-grey: #4f606c;
    --clr-teal: #243e50;
    --clr-red: #c82255;
    --clr-green: #008181;

}
.teal-body {
    /* background: #001C34; */
    background-color: var(--clr-ltgrey);
    /* max-height: 100vh; */
    max-width: 1100px;
    max-height: 100vh;
    /* max-width:90vw; */
    margin: 0 auto;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    /* padding: 0;
    scroll-behavior:smooth;
    overflow: visible !important; */
    color: var(--clr-white);
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.pBarContainer {
    /* border: 3px solid black; */
    /* margin-left: 5%; */
    margin-top: 13px;
    display: grid;
    justify-items: center;
}
.pBar {
    display: block;
    height: 30px;
    width: 50px;
    border: 1px solid var(--clr-teal);
}


#sp00 {
    float: left;
    background-color: var(--clr-grey);
}
#sp01 {
    
    float: left;
    background-color: var(--clr-grey);
}
#sp02 {
    float: left;
    background-color: var(--clr-grey);
}
#sp03 {
    float: left;
    background-color: var(--clr-grey);
}

#sp04 {
    float: left;
    background-color: var(--clr-grey);
}
#sp05 {
    float: left;
    background-color: var(--clr-grey);
}
#sp06 {
    float: left;
    background-color: var(--clr-grey);
}

#sp07 {
    float: left;
    background-color: var(--clr-grey);
}
#sp08 {
    float: left;
    background-color: var(--clr-grey);
}
#sp09 {
    float: left;
    background-color: var(--clr-grey);
}

h1 {
    font-family: "Glegoo", "Courier New", Courier, monospace;
    font-size: var(--fs-h1);
    margin: 0;
}
h6 {
    font-weight: 300;
}
p {
    line-height: 1.5em;
}
.content {
    background: var(--clr-teal);
    min-height: 100vh;
    margin: 0 auto;
}

.content__section {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "title img"
        "text img"
        "button img";
    position: relative;
    padding-top: 150px;
}
.content__section#pgSignUp {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "text";
    justify-items: center;
}
.content__section--title,
.content__section--text,
.content__section--img-container,
.content__section--button {
    align-self: center;
}

.content__section--title {
    grid-area: title;
}

.content__section--text {
    grid-area: text;
    padding-right: 4em;
}

.content__section--img-container {
    grid-area: img;
    margin-right: -25px;
}

.content__section--button {
    grid-area: button;
    margin-top: 30px;
}
.content__section--button button {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: var(--clr-red);
    border: none;
    color: var(--clr-white);
    font-family: "Glegoo", "Courier New", Courier, monospace;
    font-size: var(--fs-btn);
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.content__section--button button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s;
}
.content__section--button button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: .5s;
}
.content__section--button button:hover span {
    padding-right: 25px;
}
.content__section--button button:hover span:after{
    opacity: 1;
    right: 0;
}
.pBarContainer span {
    display: grid;
    justify-content: center;
    border-radius: 50%;
}
.answerBtns {
    display: grid; 
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: 30px auto;
}
.userBtns {
    display: grid;
    justify-items: center;
    opacity: .8;
}
.answerBtns button {
    background-color: var(--clr-ltgrey);
    color: var(--clr-grey);
}
.answerButtons[name='A']:hover,
.answerButtons[name='A']:visited
 {
    background-color: var(--clr-red);
    color: white;
    transition: 0.5s;
}
.answerButtons[name='B']:hover {
    background-color: var(--clr-green);
    color: white;
    transition: 0.5s;

}
/* .content-register {
    height: 115vh;
} */
.content__section--register {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title img"
        "text img"
        "imgA img";
    margin-top: 30px;
}

.content__section--register-form {
    max-width: 600px;
    margin: 0 auto;
    grid-template-areas:
        "form"
        "button";
    display: grid;
    grid-template-columns: 1fr;
}

.content__section--register-fieldset {
    grid-template-areas:
        "title1"
        "imgA"
        "title2"
        "imgB"
        "title3"
        "imgC";
    display: grid;
    grid-template-columns: 1fr;
}
::placeholder {
    color: var(--clr-grey);
}
.register-input {
    height: 50px;
}
.register-name {
    grid-area: title1;
}

.register-input-name {
    grid-area: imgA;
}

.register-lastname {
    grid-area: title2;
}

.register-input-lastname {
    grid-area: imgB;
}

.register-email {
    grid-area: title3;
}

.register-input-email {
    grid-area: imgC;
}

.content__section--button-register {
    justify-self: center;
    margin-top: 20px;
}
.question-header {
    margin-left: 100px;
}

.form-questions {
    margin: 30px 0;
}
.form-questions label {
    margin-right: 2em;
}

/* .content__section--pages{
    text-align: center;
} */
fieldset {
    border: none;
}

label,
input {
    margin-top: 1em;
    font-size: var(--fs-h6);
    /* margin-right: 2em; */
}
input[type="radio"] {
    transform: scale(2);
    margin-right: 20px;
}

footer {
    position: absolute; 
    bottom: 0;
    padding: 20px 30px;
}

