*,
html {
    margin: 0;
}

body {
    /* background: #001C34; */
    background-color: #4e606c;
    /* max-height: 100vh; */
    max-width: 1100px;
    /* max-height: 100vh;
    max-width:90vw; */
    margin: 0 auto;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    /* padding: 0;
    scroll-behavior:smooth;
    overflow: visible !important; */
    color: white;
    font-family: Aileron, "Open Sans", Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    font-family: 'Glegoo', 'Courier New', Courier, monospace;
    font-size: 3em;
    margin: 0;

}

.content {
    background: #243e50;
    height: 100vh;
    margin: 0 auto;
}

.content__section {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "title img"
        "text img"
        "button img";
    position: relative;
    padding-top: 200px;

}
.content__section#pgSignUp {
    padding-top: 50px;
}
.content__section--title,
.content__section--text,
.content__section--img-container,
.content__section--button {
    align-self: center;
}

.content__section--title {
    grid-area: title;
}

.content__section--text {
    grid-area: text;
}

.content__section--img-container {
    grid-area: img;
}

.content__section--button {
    grid-area: button;
    margin-top: 30px;
}

.content__section--button button {
    width: 200px;
    height: 50px;
    background-color: #C82255;
    border: none;
    color: white;
    font-family: 'Glegoo', 'Courier New', Courier, monospace;
    font-size: 1.25em;
    border-radius: 10px;
}
.content-register {
    height: 115vh;
}
.content__section--register {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title img"
        "text img"
        "imgA img";
    margin-top: 50px;
}

.content__section--register-form {
    max-width: 600px;
    margin: 0 auto;
    grid-template-areas:
        "form"
        "button";
    display: grid;
    grid-template-columns: 1fr;
}

.content__section--register-fieldset {
    grid-template-areas:
        "title1"
        "imgA"
        "title2"
        "imgB"
        "title3"
        "imgC";
    display: grid;
    grid-template-columns: 1fr;
}
.register-input {
    height: 50px;
}
.register-name {
    grid-area: title1;
}

.register-input-name {
    grid-area: imgA;
}

.register-lastname {
    grid-area: title2;
}

.register-input-lastname {
    grid-area: imgB;
}

.register-email {
    grid-area: title3;
}

.register-input-email {
    grid-area: imgC;
}

.content__section--button-register {
    justify-self: center;
    margin-top: 20px;
}
.form-questions {
    margin: 30px 0;
}

/* .content__section--pages{
    text-align: center;
} */
fieldset {
    border: none;
}

label,
input {
    margin-top: 1em;
    font-size: 1.5em;
    margin-right: 2em;
}
input[type='radio'] {
    transform: scale(2);
    margin-right: 20px;
}

footer {
    margin-top: 140px;
}

.footer-register {
    margin-top: 30px;
    margin-left: 100px;
}

